body {
    width: 100%;
    margin: 0;
}

img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    height: auto;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem 5rem;
}

.card {
    width: 18rem; 
    border-radius: 1rem;
    margin-top: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.name{
    padding-left: 1rem;
    margin-bottom: 0;
}

.desc_header {
    color:red;
    padding-left: 1rem;
    font-size: small;
    margin-top: 0;
}

.desc {
    padding: 1rem;

}

hr {
    width: 85%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.art_button {
    width: 6.3rem;
    color:white;
    height: fit-content;
    text-align: center;
    margin: 1rem 0 1rem 1rem;
    background-color: red;
}

.art {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.lik_com {
    text-align: left;
    height: fit-content;
    margin: 1rem 1rem 1rem 0;

}

.comments, .likes {
    font-size: 0.8rem;
    margin: 0 0 0 0;
    padding-left: 1.3rem;
}

.comments {
    background-image: url(image/comment.png);
    background-position:left;
    background-size:contain;
    background-repeat: no-repeat;
}

.likes {
    background-image: url(image/heart.png);
    background-color: left;
    background-size: contain;
    background-repeat: no-repeat;
}