body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.container {
    margin: auto;
    margin-top: 10rem;
    width: fit-content;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
}

button {
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    padding: 1rem 1.5rem 1rem 1.5rem;
    background-color: grey;
}

button:hover {
    background-color: silver;
}