body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.container {
    margin: auto;
    margin-top: 10rem;
    width: fit-content;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
}

.circle {
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lime {
    background-color: lime;
    width: 20rem;
    height: 20rem;
}

.blue {
    background-color: lightblue;
    width: 14rem;
    height: 14rem;
}

.gold {
    background-color: gold;
    width: 8rem;
    height: 8rem;
}

.purple {
    background-color: purple;
    width: 4rem;
    height: 4rem;
}